body {
  background-image: url('/img/bg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #C0DEED;
}
.container-fluid {
  max-width:40em;
  margin: auto;
}
.well {
  padding: 0;
}
h1 {
  font-size: 1.5em;
  text-align: center;
  margin: 0.4em 0;
}
form {
  text-align: center;
  margin-bottom: 1em;
}
form label {
  font-size: 1.4em;
  display: inline;
  position: relative;
  top: -0.15em;
}
form input[type="text"] {
  font-size: 1.1em;
  padding: 0.4em;
  max-width: 60%;
}
form .btn {
  font-size: 1.2em;
  position: relative;
  top: -0.28em;
}
.loading, .error, .instructions {
  text-align: center;
  margin:1em 0;
  display: none;
}
.loading {
  color: #777;
}
.error {
  color:#FF3333;
  padding: 0 1em;
}
.instructions {
  font-weight: bold;
}
.tweet {
  min-height: 51px;
  border-top: 0.1em solid #E8E8E8;
  width: 92%;
  padding: 1em 4%;
}
.tweet:hover {
  background: #E5E5E5;
  cursor: hand; 
  cursor: pointer;
}
.tweet .avatar {
  text-align: center;
  width: 10%;
  float: left;
  padding-top: 0.3em;
}
.tweet .avatar img {
  max-width: 100%;
  border-radius: 5px;
}
.tweet .info {
  float:right;
  width: 88%;
}
.tweet .info p {
  margin-bottom: 0.2em;
}
.tweet .info .name {
  font-weight:bold;
  font-size: 1.1em;
}
.tweet .info .username {
  color: #999;
  font-size: 0.97em;
}
#chooseAuthor {
  display: none;
}
@media (max-width: 480px) { 
  .tweet .avatar {
    width: 17%;
  }
  .tweet .info {
    width: 81%;
  }
}