body {
  background-color: #C0DEED;
}
.container-fluid {
  max-width:40em;
  margin: auto;
}
.well {
  padding: 0;
}
h1 {
  font-size: 1.5em;
  text-align: center;
  margin: 0.4em 0;
}
form {
  text-align: center;
  margin-bottom: 1em;
}
form label {
  font-size: 1.4em;
  display: inline;
  position: relative;
  top: -0.15em;
}
form input[type="text"] {
  font-size: 1.1em;
  padding: 0.4em;
  max-width: 60%;
}
form .btn {
  font-size: 1.2em;
  position: relative;
  top: -0.28em;
  display: none;
}
.loading, .error, .instructions, .rateLimit {
  text-align: center;
  margin:1em 1.5em;
  display: none;
}
.loading {
  display: block;
}
#signout {
  margin: 1em;
}
#chooseAuthor .instructions {
  display: block;
}
.loading {
  color: #777;
}
.error {
  padding: 0 1em;
}
.instructions {
  font-weight: bold;
}
.item {
  min-height: 51px;
  border-top: 0.1em solid #E8E8E8;
  width: 92%;
  padding: 1em 4%;
  position: relative;
}
.item:hover, .item.selected:hover {
  background: #E5E5E5;
  cursor: hand; 
  cursor: pointer;
}
.item.selected {
  background: #D0D0D0;
}
.item .avatar {
  text-align: center;
  width: 10%;
  float: left;
  padding-top: 0.3em;
}
.item .avatar img {
  max-width: 100%;
  border-radius: 5px;
}
.item .info {
  float:right;
  width: 88%;
}
.item .info p {
  margin-bottom: 0.2em;
}
.item .info .name {
  font-weight:bold;
  font-size: 1.1em;
}
.item .info .username {
  color: #999;
  font-size: 0.97em;
}
.item i {
  display: none;
}
.item.correct {
  background: #BDFEBB;
}
.item.incorrect {
  background: #EFCFCA;
}
.item.correct .icon-ok, .item.incorrect .icon-remove {
  display: inline;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
.item.correct:hover, .item.incorrect:hover {
  cursor: default;
}
.item .correct_answer {
  clear: both;
  padding-top: 1em;
  text-align: center;
  font-weight: bold;
  color: #CB1C1C;
}
.grade {
  display: none;
  text-align: center;
  border-top: 0.1em solid #E8E8E8;
  padding-top: 1.5em;
  padding-bottom: 2em;
}
.result {
  display: none;
  text-align: center;
  border-top: 0.1em solid #E8E8E8;
  padding: 1.5em 0;
}
.result p:first-child{
  font-size: 1.3em;
}
.result .allCorrect, .result .someCorrect {
  display: none;
  margin: 1em 0;
}
.result .allCorrect button, .result .someCorrect button {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}
.result .share {
  margin-top: 1em;
}
.result .share a {
  background: url('http://a4.twimg.com/images/favicon.ico') 3px center no-repeat;
  font-weight: bold;
  font-size: 0.85em;
  padding-left: 25px;
}
.adsense {
  display: none;
  text-align: center;
  border-top: 0.1em solid #E8E8E8;
  padding: 2.5em 0;
  max-width: 100%;
  overflow: hidden;
}
#chooseAuthor {
  display: none;
}
#chooseAuthor .tweet:hover {
  background: none;
  cursor: default;
}
#footer {
  text-align: center;
  margin-bottom: 1em;
}
#footer a {
  color: #777;
}
#footer a:hover {
  text-decoration: none;
}
#footer a:hover .username {
  text-decoration: underline;
}
#footer p {
  margin-bottom: 1.5em;
}

@media (max-width: 480px) { 
  .item .avatar {
    width: 17%;
  }
  .item .info {
    width: 81%;
  }
}